/* 404 CSS */
.error-404 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content {
  text-align: center;
  z-index: 1;
}

.error-image {
  width: 400px;
  height: auto;
}

.error-text {
  color: white;
  font-size: 3rem;
}


/* End 404 CSS */


/* Navbar CSS */
.navbar-style {
  padding-left: 0px !important;
}

.home-button {
  padding-left: 0px !important;
}

.greetings {
  font-size: 16px;
  transition: none;
  padding: 2rem 1.5rem;
  color: #64a19d;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
}

.user-panel {
  background-color: rgb(32 40 43);
  color: #64a19d;
  border: 1px white solid;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.user-panel:hover {
  color: #447a77;
}

.language-selector {
  margin-left: 20px;
  background-color: transparent;
}

.language-selector-button {
  background-color: transparent;
  border-style: none;
  color: white;
}

.language-flag {
  margin: 20px;
}

.language-menu {
  background-color: transparent !important;
  animation: fadeInUp 1s ease;
}

.language-option {
  margin: -10px -10px -10px 5px;
  padding: 0 !important;
  border-radius: 10px;
}

.language-option:hover {
  background-color: #64a19d !important;
}

.language-text {
  color: rgba(255, 255, 255, 0.5);
}

/* End Navbar CSS */

/* Travel Section CSS */
.travel-title {
  margin-bottom: 60px !important;
}


/* End Travel Section CSS */

/* ProjectsSection CSS */
.new-height-custom {
  height: auto !important;
}

/* End ProjectsSection CSS */

/* ExperienceSection CSS */
.custom-title-experience {
  font-size: 4rem !important;
  letter-spacing: 0.8rem;
}

.custom-margin-image {
  margin-bottom: 30px;
}

.custom-width-text {
  width: 100% !important;
}

/* End ExperienceSection CSS */